#page-wrapper
  .graphs
    .col_3
      .col-md-3.widget.widget1
        .r3_counter_box
          %i.fa.fa-rocket
          .stats
            %h5
              = @newsletters.count
            .grow
              %p= link_to "Newsletters", newsletters_path
      .col-md-3.widget.widget1
        .r3_counter_box
          %i.fa.fa-users
          .stats
            %h5
              = @subscribers.count
            .grow.grow1
              %p= link_to "Suscriptores", subscribers_path
      .col-md-3.widget
        .r3_counter_box
          %i.fa.fa-file
          .stats
            %h5
              = @templates.count
            .grow.grow2
              %p= link_to "Plantillas", templates_path
      .col-md-3.widget.widget1
        .r3_counter_box
          %i.fa.fa-envelope
          .stats
            %h5
              = @count_emails
            .grow.grow3
              %p= link_to "Emails enviados", newsletters_path
      .clearfix
    / switches
    .switches
      .col-4
        .col-md-4.switch-right
          .switch-right-grid
            .switch-right-grid1
              %h3 NEWSLETTERS
              - if @newsletters.count > 0
                %p Datos estádisticos sobre newsletters
                %ul
                  %li
                    = "El último newsletter enviado fue: #{@newsletters.last.template.title}"
                  %li
                    = "El último newsletter fue creado: #{@newsletters.last.created_at.strftime("%e %b %Y %H:%M:%S%p")}"
                  %li
                    = "El último newsletter fue enviado: #{@newsletters.last.updated_at.strftime("%e %b %Y %H:%M:%S%p")}"
                  %li
                    = "El último newsletter fue enviado por: #{@last_log.user}"
                  %li= link_to_icon(" Nuevo Newsletter", new_newsletter_path, "glyphicon glyphicon-plus-sign")
        .col-md-4.switch-right
          .switch-right-grid
            .switch-right-grid1
              %h3 SUSCRIPTORES
              %ul
                %li
                  = "Cantidad de suscriptores: #{@subscribers.count}"
                - if @widget_subscribers
                  %li
                    = "Suscriptores por el widget: #{@widget_subscribers.subscribers.count}"
                %li= link_to_icon(" Nuevo Suscriptor", new_subscriber_path, "glyphicon glyphicon-plus-sign")
                %li= link_to_icon(" Importar Suscriptores", new_subscriber_path, "glyphicon glyphicon-import","btn btn-info")
        .col-md-4.switch-right
          .switch-right-grid
            .switch-right-grid1
              %h3 PLANTILLAS
              %ul
                %li= link_to_icon(" Nueva Plantilla", new_template_path, "glyphicon glyphicon-plus-sign")
                %li= link_to_icon(" Ver plantillas", templates_path, "glyphicon glyphicon-file","btn btn-info")
            .switch-right-grid1
              %h3 EMAILS
              %p Datos estadísticos de emails
              %ul
                %li
                  - if @last_log
                    = "Emails enviados en último newsletter: #{@last_log.emails}"
