#page-wrapper
  %h1
    Newsletters
  .panel.panel-warning
    .panel-body.no-padding
      .widget3.pull-right
        = link_to_icon("New", new_newsletter_path, "glyphicon glyphicon-plus-sign")
      %table.table.table-striped
        %thead
          %tr.warning
            %th Name
            %th Subscribers list
            %th Actions
        %tbody
          - @newsletters.each do |newsletter|
            %tr
              %td= newsletter.name
              %td= newsletter.subscribers_list_id
              %td
                .btn-group
                  = link_to_icon("Edit", edit_newsletter_path(newsletter), "glyphicon glyphicon-edit", "btn btn-primary")
                  = link_to((content_tag(:i, "", class: "glyphicon glyphicon-trash") + "Delete"), newsletter, method: "delete", class: "btn btn-danger", :data => { :confirm => 'Are you sure?'})
