#page-wrapper
  %h1
    Suscriptores
  .panel.panel-warning
    .panel-body.no-padding
      .widget3.pull-right
        = link_to_icon(" Nuevo", new_subscriber_path, "glyphicon glyphicon-plus-sign")
      = form_tag import_subscribers_subscribers_path, multipart: true, class: "" do
        = file_field_tag :file, style: "width: 200px;float: left;"
        = submit_tag "IMPORTAR CSV", class: "btn btn-info"


      %table.table.table-striped
        %thead
          %tr.warning
            %th Id
            %th Nombre
            %th Email
            %th Teléfono
            %th Identificación
            %th Acciones
        %tbody
          - @subscribers.each do | subscriber |
            %tr
              %td= subscriber.id
              %td= subscriber.first_name
              %td= subscriber.email
              %td= subscriber.phone_number
              %td= subscriber.id_number
              %td
                .btn-group
                  = link_to_icon("Editar", edit_subscriber_path(subscriber), "glyphicon glyphicon-edit", "btn btn-primary")
                  = link_to((content_tag(:i, "", class: "glyphicon glyphicon-trash") + "Borrar"), subscriber, method: "delete", class: "btn btn-danger", :data => { :confirm => "¿Seguro que desea borrar?"})
